<!DOCTYPE html>
<html>
<!-- Head -->
<%- include('./partials/head') %>

  <body>
    <!-- Navbar -->
    <%- include('./partials/navbar') %>

      <!-- Header -->
      <%- include('./partials/header') %>

        <!-- Page content -->
        <div class="ps-content">
          <!-- About Section -->
          <div class="ps-row ps-padding-64" id="about">
            <div class="ps-col m6 ps-padding-large ps-hide-small">
              <img src="/images/principal.jpg" class="ps-round ps-image ps-opacity-min" alt="SAbores que enamoran"
                width="600" height="750" />
            </div>

            <div class="ps-col m6 ps-padding-large">
              <h1 class="ps-center">Pimienta & Sal</h1>
              <br />
              <p class="ps-large">
                Bienvenidos a Pimienta & Sal
                Bienvenidos a Pimienta & Sal, un restaurante con una propuesta gastronómica única que combina los
                sabores clásicos con una creativa fusión de ingredientes.

                Nuestro chef, reconocido por su habilidad y pasión por la cocina, utiliza solo los ingredientes más
                frescos y de alta calidad para crear platos llenos de sabor y textura.

                Nuestras instalaciones cuentan con un ambiente acogedor y sofisticado, ideal para disfrutar de una cena
                romántica, una comida de negocios o simplemente una cena con amigos.
              </p>
              <p class="ps-large ps-text-grey ps-hide-medium">
                Además, ofrecemos una cuidadosa selección de vinos y cócteles para complementar su experiencia
                gastronómica.

                En Pimienta & Sal, nos enorgullece brindar una experiencia gastronómica excepcional en cada visita.
                ¡Esperamos verlos pronto!
              </p>
            </div>
          </div>

          <hr />
          <!-- Menu Section -->
          <div class="ps-row ps-padding-64" id="menu">
            <div class="ps-col l6 ps-padding-large">
              <h1 class="ps-center">Nuentro Menu</h1>
              <br />
              <% plates.forEach(({name, description, price, id})=> { %>
                <a href="/detalle/<%= id %> ">
                  <h4>
                    <%= name %>
                  </h4>
                </a>
                <p class="ps-text-grey">
                  <%= description %> U$S <%= price %>
                </p>
                <br />
                <% }) %>
            </div>

            <div class="ps-col l6 ps-padding-large ps-img-menu">
              <img src="/images/menu.jpg" class="ps-round ps-image ps-opacity-min" alt="Menu" />
            </div>
          </div>

          <!-- Footer -->
          <%- include('./partials/footer') %>
        </div>
  </body>

</html>
